/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 7px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #090909;
  border-radius: 45px;
}

nav a:hover {
  color: rgb(255, 255, 255);
  background-color: #198a9e;
}
nav a:active {
  background-color: rgb(0, 0, 0);
}